@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?riojbm');
  src:  url('fonts/icomoon.eot?riojbm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?riojbm') format('truetype'),
    url('fonts/icomoon.woff?riojbm') format('woff'),
    url('fonts/icomoon.svg?riojbm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e90e";
}
.icon-list:before {
  content: "\e90e";
}
.icon-options:before {
  content: "\e90e";
}
.icon-lines:before {
  content: "\e90e";
}
.icon-hamburger:before {
  content: "\e90e";
}
.icon-ic--baseline-plus-5-2:before {
  content: "\e90a";
}
.icon-ic--baseline-minus-1-1:before {
  content: "\e90b";
}
.icon-Button:before {
  content: "\e90c";
}
.icon-Slider-Buttons:before {
  content: "\e90d";
}
.icon-SealCheck .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
  opacity: 0.12;
}
.icon-SealCheck .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-Star-6:before {
  content: "\e907";
  color: #00c950;
}
.icon-search:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-badge:before {
  content: "\e905";
}
.icon-checkmark:before {
  content: "\e904";
}
